<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel = "stylesheet" href="{{url_for('static', filename = 'styles.css')}}">
</head>
<test>
        <h1> Name </h1>
    <p>{{ name }}</p>
    <ul>
        <li>Diabetes Type 1</li>
        <li>History of Familial Heart Problems</li>
        <li>On Medication</li>
        <ul>
            <li>Medication 1</li>
            <li>Medication 2</li>
        </ul>

    </ul>
</test>
<!--
<body>

    <form action = "/submit" method = "POST">
        <label for = "name">Jane Doe</label>
        <input type = "text" id = "name" name = "name" required>
        <button type = "submit">Submit</button>
    </form>
</body>
-->

</html>